<!DOCTYPE html>
<html>
<head>
    <title>{% if order %}Edit Order{% else %}Add Order{% endif %}</title>
</head>
<body>
    <h1>{% if order %}Edit Order{% else %}Add Order{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label>Date:</label>
        <input type="date" name="date" value="{{ order.date|default:'' }}"><br>
        <label>Total Price:</label>
        <input type="text" name="total_price" value="{{ order.total_price|default:'' }}"><br>
        <label>Payment Method:</label>
        <input type="text" name="payment_method" value="{{ order.payment_method|default:'' }}"><br>
        <label>Pharmacist ID:</label>
        <input type="number" name="pharmacist_id" value="{{ order.pharmacist.id|default:'' }}"><br>
        <label>Client ID:</label>
        <input type="number" name="client_id" value="{{ order.client.id|default:'' }}"><br>
        <input type="submit" value="Save">
    </form>
    <a href="{% url 'order_list' %}">Cancel</a>
</body>
</html>
