<!DOCTYPE html>
<html>
<head>
    <title>Pharmacist Detail</title>
</head>
<body>
    <h1>Pharmacist Detail</h1>
    <p>Name: {{ pharmacist.client.name }}</p>
    <p>Surname: {{ pharmacist.client.surname }}</p>
    <p>Start Date: {{ pharmacist.start_date }}</p>
    <p>End Date: {{ pharmacist.end_date }}</p>
    <p>Notes: {{ pharmacist.notes }}</p>
    <a href="{% url 'pharmacist_update' pharmacist.id %}">Edit</a>
    <a href="{% url 'pharmacist_list' %}">Back to List</a>
</body>
</html>
