<!DOCTYPE html>
<html>
<head>
    <title>{% if pharmacist %}Edit Pharmacist{% else %}Add Pharmacist{% endif %}</title>
</head>
<body>
    <h1>{% if pharmacist %}Edit Pharmacist{% else %}Add Pharmacist{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label>Client Name:</label>
        <input type="text" name="client_name" value="{{ pharmacist.client.name|default:'' }}"><br>
        <label>Client Surname:</label>
        <input type="text" name="client_surname" value="{{ pharmacist.client.surname|default:'' }}"><br>
        <label>Start Date:</label>
        <input type="date" name="start_date" value="{{ pharmacist.start_date|default:'' }}"><br>
        <label>End Date:</label>
        <input type="date" name="end_date" value="{{ pharmacist.end_date|default:'' }}"><br>
        <label>Notes:</label>
        <input type="text" name="notes" value="{{ pharmacist.notes|default:'' }}"><br>
        <input type="submit" value="Save">
    </form>
    <a href="{% url 'pharmacist_list' %}">Cancel</a>
</body>
</html>

